!!!
%html
  %head
    %title SlickBone
    = stylesheet_link_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/redmond/jquery-ui.css'
    = stylesheet_link_tag 'slickgrid/slick.grid.css', 'slickgrid/slick-default-theme'
    = yield :stylesheets
  %body
    = yield
    = javascript_include_tag 'jquery', 'jquery-ui'
    = javascript_include_tag 'slickgrid.all.js'
    = yield :javascripts
